<!DOCTYPE html>
<html lang="en" >

<head>

  <meta charset="UTF-8">
  
<link rel="apple-touch-icon" type="image/png" href="https://cpwebassets.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png" />
<meta name="apple-mobile-web-app-title" content="CodePen">

<link rel="shortcut icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico" />

<link rel="mask-icon" type="" href="https://cpwebassets.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg" color="#111" />


  <title> Share Link Generator</title>
   <br>
  
  
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'>
  <br>
  <br>
  <br>
  
  

  <script>
  window.console = window.console || function(t) {};
</script>

  
  
  <script>
  if (document.location.search.match(/type=embed/gi)) {
    window.parent.postMessage("resize", "*");
  }
</script>


</head>

<body translate="no" >
  <div class="container">
  <div class="jumbotron">
    <h1>Share Link Generator</h1>
  </div>
  <div id="app">
    <form @submit.prevent="generateURLs">
      <h2>Input</h2>
      <div class="form-group">
        <label for="url">URL</label>
        <input class="form-control" name="url" type="url" pattern="^(([^:/?#]+):)?(//([^/?#]*))?([^?#]*)(\?([^#]*))?(#(.*))?" required v-model.trim="url">
      </div>
      <div class="form-group">
        <label for="url">Text</label>
        <input class="form-control" name="text" type="text" required v-model.trim="text">
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Generate</button>
      </div>
    </form>
    <template v-if="success">
    <h2>Output</h2>
    <div class="form-group">
      <label for="url">Facebook <a :href="facebookURL" target="_blank" rel="noopener noreferrer">Test</a></label>
      <input name="url" type="url" class="form-control" v-model="facebookURL">
    </div>
    <div class="form-group">
      <label for="url">Twitter <a :href="twitterURL" target="_blank" rel="noopener noreferrer">Test</a></label>
      <input name="text" type="text" class="form-control" v-model="twitterURL">
    </div>
    <div class="form-group">
      <label for="url">LinkedIn <a :href="linkedinURL" target="_blank" rel="noopener noreferrer">Test</a></label>
      <input name="text" type="text" class="form-control" v-model="linkedinURL">
    </div>
    </template>
  </div>
</div>
    <script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-157cd5b220a5c80d4ff8e0e70ac069bffd87a61252088146915e8726e5d9f147.js"></script>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js'></script>
      <script id="rendered-js" >
const app = new Vue({
  el: '#app',
  data: {
    url: '',
    text: '',
    facebookURL: '',
    twitterURL: '',
    linkedinURL: '',
    success: false },

  computed: {
    encodedURL() {
      return encodeURIComponent(this.url);
    },
    encodedText() {
      return encodeURIComponent(this.text);
    } },

  methods: {
    generateURLs(event) {
      if (event.target.checkValidity()) {
        this.success = true;
        this.facebookURL = 'http://www.facebook.com/sharer/sharer.php?u=' + this.encodedURL + '&title=' + this.encodedText;
        this.twitterURL = 'https://twitter.com/intent/tweet?text=' + this.encodedText + '&url=' + this.encodedURL;
        this.linkedinURL = 'http://www.linkedin.com/shareArticle?mini=true&url=' + this.encodedURL + '&title=' + this.encodedText;
      }
    } } });
//# sourceURL=pen.js
    </script>

   <br>
  <br>
  <br>
  
  
  
  <center>  <h3><a target="_blank" href="https://shaadse.blogspot.com/" h="ID=SERP,5112.1" onclick="null;return false;">YOU GO OUR TOOL WEBSITE</a></h3></center>
    <br>
  
   <br>
  
  <br>
  <center>  <h3><a target="_blank" href="https://healthsaad.blogspot.com/" h="ID=SERP,5112.1" onclick="null;return false;">YOU GO OUR SEARCH ENGINE WEBSITE</a></h3></center>
  <br>
  
  <br>
  <br>
  <center>  <h3><a target="_blank" href="https://seotls.blogspot.com/" h="ID=SERP,5112.1" onclick="null;return false;">YOU GO OUR Share Link Generator WEBSITE</a></h3></center>
  <br>
  <br>
  <br>
  
  
  
  <center>  <h3><a target="_blank" href="https://saad786786.blogspot.com/" h="ID=SERP,5112.1" onclick="null;return false;">YOU GO OUR HTML Image Link Generator WEBSITE</a></h3><iframe src="https://privacy-policy-tool.blogspot.com/" style="border:0px #ffffff none;" name="myiFrame" scrolling="yes" frameborder="0" marginheight="0px" marginwidth="0px" height="400px" width="600px" allowfullscreen></iframe>
</center>
</body>

</html>
 